@import "/src/app/styles/mixins"

.container
	max-width: 1200px
	width: 100%
	margin: 0 auto

.header
	display: flex
	justify-content: space-between
	padding: 24px 0

.logo
	@include headers-28

.link
	text-decoration: none
	@include content-16
	color: $c-main

	&:hover
		color: $c-primary

	&:not(:last-child)
		margin-right: 16px

	&Active
		color: $c-primary
